a:link {
    color: white;
    text-decoration: none;
    border: 0px;
}

a:visited {
    color: ghostwhite;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}


.header {
    font-family: "Eras Bold ITC", "Verdana","Comic Sans Ms";
    color: Black;
    text-align: left;
    font-size: 30px;
    margin-right: 10px;
    width: 90%;
    padding: 2px;
    padding-left: 20px;
    background-color: white;
}


li, .mainmenu {
    display: inline;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Impact";
    font-size: 1.5em;
    color: White;
    text-align: center;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
}

.body {
    font-family: "Verdana", "Times New Roman", "Sans";
    color: white;
    background-color: black;
    font-size: 1.2em;
    padding-left: 30px;
    padding-right: 30px;
    width: 90%;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.article {
    font-family: "Verdana";
    color: white;
    background-color: black;
    font-size: 1.2em; <!--
    22.4px/16 = 1.875em--> padding-left: 30px;
    padding-right: 30px;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.contactmeboxes {
    padding: 10px;
    border-radius: 5px;
    width: 518px;
    height: 60px;
    display: inline-block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: gray;
}

.list {
    text-align: left;
    color: black;
    font-size: 0.9em;
}

.roundwhite {
    background-color: white;
    padding: 17px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    opacity: .8;
}

.right {
    margin-right: -30px;
    margin-top: -20px;
}

}

.active {
    color: red;
}



.title {
    font-family: 'Righteous', 'cursive';
    color: white;
    font-size: 50px;
}

.gallery {
    border-color: #181818;
    width: 100%;
    height: 30%;
    padding: 20px;
    text-align: center;
}

body {
    background-color: black;
    left: 0px;
    top: 0px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 4684px;
    text-align: center;
}

img {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

form {
    width: 540px;
    left: 500px;
    color: white;
    text-align:center;
    font-family: "lucida console";
    font-size: 17px;
}

#email {
    margin-left: 33px;
}

#firstname, #email {
    display: inline-block;
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 17px;
    color: white;
    font-family: "lucida console";
    resize: none;
    width: 400px;
    height: 40px;
    bottom: 20px;
    margin-bottom:15px;
}

#text_area {
    display: inline;
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 17px;
    color: white;
    font-family: "lucida console";
    resize: none;
}

#submit_btn {
    background-color: #41BB67;
    color: white;
}
#reset_btn {
    background-color: #F6FF6B;
    color: #A97E7E;
}
footer, #Social_Media {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container_box {
    margin-left: 680px;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    display: block;


}
h1 {
    color: white;
    font-family:'Trebuchet MS';
    font-size: 60px;
}
